<ion-grid>
  <form [formGroup]="wordForm" (ngSubmit)="getWord()">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="search-outline"></ion-icon>
            Buscar
          </ion-label>
          <ion-input type="text" formControlName="wordInput"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Idioma</ion-label>
          <ion-select placeholder="Seleccione" formControlName="languageSelect">
            <ion-select-option value="en">English</ion-select-option>
            <ion-select-option value="hi">Hindi</ion-select-option>
            <ion-select-option value="es">Spanish</ion-select-option>
            <ion-select-option value="fr">French</ion-select-option>
            <ion-select-option value="ja">Japanese</ion-select-option>
            <ion-select-option value="ru">Russian</ion-select-option>
            <ion-select-option value="de">German</ion-select-option>
            <ion-select-option value="it">Italian</ion-select-option>
            <ion-select-option value="ko">Korean</ion-select-option>
            <ion-select-option value="pt-BR">Brazilian Portuguese</ion-select-option>
            <ion-select-option value="ar">Arabic</ion-select-option>
            <ion-select-option value="tr">Turkish</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button color="success" type="submit" [disabled]="!wordForm.valid">Buscar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>

<ion-card *ngFor="let data of definitions">
  <ion-card-header>
    <ion-card-subtitle color="warning">{{data.class}}</ion-card-subtitle>
    <ion-card-title>{{word}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{data.definition}}
  </ion-card-content>

  <ion-card-content>
    <ion-chip *ngFor="let item of data.synonyms">
      <ion-label color="primary">{{item}}</ion-label>
    </ion-chip>
  </ion-card-content>

</ion-card>